* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Cereal, sans-serif;
    background-color: teal;
}
  

  .Menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(107, 106, 106);
    width: 100vh;
  }
  .links_menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: teal;
    width: 100vh;
  }
  
  .Menu,
  a {
    float: right;
    margin: 5px;
  }
  .menu_paginas {
    font-size: 18px;
    line-height: 1.55556;
  }

  .imagen {
    max-height: 25%;
    width: 100%;
  }

  .contenedor_principal{

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .metodos_contacto{
    display: flex;
    align-items: center;
    justify-content: space-around;

  }

  .metodo{

    margin: 50px;


  }