* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: Cereal, sans-serif;
    background-color: aquamarine;
}
  

  .Menu {
    display: flex;
    flex-direction: row;
    background-color: rgb(107, 106, 106);
    width: 100vh;
  }
  .links_menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    background-color: aquamarine;
    width: 100vh;
  }
  
  .Menu,
  a {
    float: right;
    margin: 5px;
  }
  .menu_paginas {
    font-size: 18px;
    line-height: 1.55556;
  }
 
  .titulo_texto {
    font-weight: bold;
    font-size: 46px;
    line-height: 1, 3;
  }
  .parrafo_texto {
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
  }
  .imagen {
    max-height: 50%;
    width: 100%;
  }

  #cuerpo {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    
    margin-bottom: 40px;
  }
  #cuerpo div {
    text-align: center;
    width: 40%;
    margin: auto;
    background-color: aquamarine;
  }

  .cotenedor_total{
    display: flex;
    flex-direction: column;
    max-width: 100vh;
  
  }

  .contenedor_seccion{
      display: flex;
      padding-top: 30px;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      flex-direction: column;
     width: 100%;
     background-color: aquamarine;
  }
  .formacion{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 300px;
    text-align: center;
    font-size: 18px;
      background-color: aquamarine;
  }
  


  .formacion_apartado{
    display: flex;
    flex-direction: column-reverse;
    background-color: aquamarine;
  }

  .lenguajes_conocidos{
     display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 30px;
      background-color: aquamarine;
  }
  .lenguaje{
    margin: 30px;

  }

  .softskills{
    display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 30px;
      background-color: aquamarine;
  }

  .skill{

    margin: 30px;

  }


  #escritura1{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 30ch;

    animation: maquina_escribir 2s steps(30), cursor .5s infinite step-end alternate ;
    overflow: hidden;
}

#escritura2{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 26ch;

  animation: maquina_escribir 2s steps(26), cursor .5s infinite step-end alternate ;
  overflow: hidden;
}

#escritura3{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 28ch;

  animation: maquina_escribir 2s steps(28), cursor .5s infinite step-end alternate ;
  overflow: hidden;
}

#escritura4{
  display: block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  white-space: nowrap;
  border-right: 4px solid;
  width: 22ch;

  animation: maquina_escribir 2s steps(22), cursor .5s infinite step-end alternate ;
  overflow: hidden;
}




  .formacion_apartado:hover{

    animation: zoom infinite linear forwards;
  }


  .lenguaje:hover{
    animation: zoom infinite linear forwards;
  }

  #cuerpo div:hover{
    animation: zoom  infinite linear forwards;
  }



  @keyframes zoom {
    0%{
        
    }
    50%{
        transform: scaleY(1.1);
    }
    to{
        transform: scale(1.1);
    }
    
      
  }



@keyframes maquina_escribir{
    from{
        width: 0;
    }
  


}

@keyframes cursor {
    50% { border-color: transparent}
}






  @media only screen and (max-width: 900px) {

    .formacion{
      flex-direction: column;
      max-height: 100%;
      max-width: 100%;
    }

    .lenguajes_conocidos{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .softskills{
      display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    
  }

 @media only screen and (max-width: 600px) {


    .lenguajes_conocidos{
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(6, 1fr);
    }

    .softskills{
      font-size: 20px;
    }
    
  }

